In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2023-filter-emp.csv', header=None, sep=';')

In [3]:
df[['2.1', '2.2']] = df[2].str.split('#', expand=True)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,2.1,2.2
0,879267,4,21365220#GIGASUP_10GO,01/01/2023 0:00,1,01/01/2023 0:00,Opération effectué avec success !!!,25377628519,0,1,S,Thread 0,5,550,10.11.24.150,USSDUSR,NaN,False,21365220,GIGASUP_10GO
1,879279,55,25327426510#20000.0,01/01/2023 0:02,1,01/01/2023 0:02,Opération effectué avec success !!!,0,0,1,S,Thread 3,5,0,10.11.22.8,topup,NaN,False,25327426510,20000.0
2,879280,55,25327426092#10000.0,01/01/2023 0:02,1,01/01/2023 0:02,Opération effectué avec success !!!,0,0,1,S,Thread 4,5,0,10.11.22.8,topup,NaN,False,25327426092,10000.0
3,879281,55,25321357288#15000.0,01/01/2023 0:02,1,01/01/2023 0:02,Opération effectué avec success !!!,0,0,1,S,Thread 2,5,0,10.11.22.8,topup,NaN,False,25321357288,15000.0
4,879282,55,25321340664#15000.0,01/01/2023 0:02,1,01/01/2023 0:02,Opération effectué avec success !!!,0,0,1,S,Thread 0,5,0,10.11.22.8,topup,NaN,False,25321340664,15000.0

In [7]:
df.to_csv("2023-filter.csv")

In [5]:
# Copie d'un dataframe
dfs = df.copy()

# Convertir la colonne 'date' en format de datetime
dfs['date'] = pd.to_datetime(dfs[3], format='%d/%m/%Y %H:%M')

# Extraire le mois de la colonne 'date' et créer une nouvelle colonne 'mois'
dfs['mois'] = dfs['date'].dt.to_period('M')

# Regrouper par mois et faire la somme de la colonne 'fee'
resultat = dfs.groupby('mois')[13].sum().reset_index()

# Afficher le résultat
print(resultat)

       mois        13
0   2023-01  18351807
1   2023-02  16598990
2   2023-03  18388695
3   2023-04  17674465
4   2023-05  17482760
5   2023-06  16861495
6   2023-07  14913630
7   2023-08  14686575
8   2023-09  14637442
9   2023-10  15852725
10  2023-11  15451515
11  2023-12  15872520

In [6]:
print(type(resultat))

<class 'pandas.core.frame.DataFrame'>